<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Grading Tool</title>
    <link rel="stylesheet" href="../static/css/bulma.min.css">
</head>
<body>
    <header>
        <h1>Welcome to My Grading Tool</h1>
    </header>
    
    <main>
        {% block content %}
        <!-- Your content goes here -->
        {% endblock %}
    </main>
    
    <footer>
        <p>&copy; 2022 My Grading Tool. All rights reserved.</p>
    </footer>
</body>
</html>
